/* CSS Document */
.bg-dark {
  background-color: #ba2234 !important;
}

.navbar {
	height: 90px;
}

.navbar-brand > img {
	width: 100px;
	
}

.nav-item {
	padding: inherit;
}

#navbarCollapse {
	font-size: 20px;
}

#menu-nav {
	width: 100%;
	overflow: scroll;
	padding-bottom: 50px;
}

h1, h2 {
	padding-bottom: 20px;
	text-align: center;
}

h3 {
	text-align: center;
}

/*Fixes enlongated pictures in carousel*/
.carousel-item {
	height: 44rem !important;
}

.carousel-item > img {
	min-width: inherit;
	height: 44rem !important;
}

#myCarousel {
	width: 100%;
}

.col-lg-4 {
	border-color: #B00608;
	border-width: thick;
}

.hundsonslogo {
	padding-top: 10px;
}

#comment {
	width: 350px;
}

#feedback {
	text-align: left;
}

#sel1 {
	margin-bottom: 10px;
}

label {
	margin-top: 30px;
}

#form-email {
	max-width: 50%;
}